body {
	background-color: white;
	font-family: "Courier New";
	color: grey;
	text-align: center;
	margin:0;
	padding:0;
}

#content {
	margin-top: 35px;
}

#score_table {
	margin-bottom: 3px;
	width: 338px;
}

#level_complete {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	min-height: 17px;
}

#footer {
	position:fixed;
	bottom: 20px;
	width: 100%;
}

table {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}

table td img { 
	width: 40px;
	height: 40px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

td, tr {
	border: 0;
}
